div {
  box-sizing: border-box
}

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
}

.player {
  background-color: red;
  height: 30px;
  width: 100%;
}

.enemy {
  background-color: red;
  height: 30px;
}

.timer {
  background-color: yellow;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tie {
  position: absolute;
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  text-transform: uppercase;
  font-size: 2rem;
}